body{
        font-family: arial,sans-serif;
		font-size:13px;
		margin:0px;
		}
		#laporan{
		color:black;
		padding:1px 1px;
		}
		#laporan table{
		border-collapse:collapse;
		font-size:13px;
		width: fit-content;
		}
		#laporan .items tr { 
			border-top: solid thin; 
			border-bottom: solid thin; 
		}
		#laporan table th{
		background:F1E7E8;
		font-weight:bold;
		vertical-align:middle;
		}

		#laporan table td{
		background:c8bfbf;
		padding: 6px;
		}

		#laporan table bp{
		border:black;
		}
		.pagebreak{
		visibility:visible;
		page-break-after:always;
		}
		.garis{
			border:solid 1px;
		}
		.nongaris{
			border: none;
		}